.contact-container {
  .contact-form {
    background-color: #eeeff1 !important;
  }
  .what-to-expect {
    min-width: 350px;
    min-height: 350px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .d-sm-hide {
    display: none;
  }
}
