<div class="contact-container d-md-flex">
  <div class="contact-form col-md-8">
    <div class="bg-ee mt-md-4 px-md-5 mb-md-5">
      <h1 class="fnt-md-32 fnt-roboto fw-b text-white">
        Enter Information to See Your
      </h1>
      <h1 class="fnt-md-32 fnt-roboto fw-b text-white">
        Potential Equity Payout!
      </h1>
    </div>
    <div>
      <form action="" class="form-group ms-md-5">
        <div class="row col-md-12 mb-md-5">
          <div class="col-md-6">
            <label for="firstName" class="form-label fnt-lg-20 fnt-roboto"
              >First Name</label
            >
            <input
              type="text"
              id="firstName"
              placeholder="First Name"
              class="input form-control br-10"
            />
          </div>
          <div class="col-md-6">
            <label for="lastName" class="form-label fnt-lg-20 fnt-roboto"
              >Last Name</label
            >
            <input
              type="text"
              id="lastName"
              placeholder="Last Name"
              class="input form-control br-10"
            />
          </div>
        </div>
        <div class="row col-md-12 mb-md-5">
          <div class="col-md-6">
            <label for="email" class="form-label fnt-lg-20 fnt-roboto"
              >Email</label
            >
            <input
              type="email"
              id="email"
              placeholder="Email"
              class="input form-control br-10"
            />
          </div>
          <div class="col-md-6">
            <label for="phone" class="form-label fnt-lg-20 fnt-roboto"
              >Phone</label
            >
            <input
              type="number"
              id="phone"
              placeholder="Phone"
              class="input form-control br-10"
            />
          </div>
        </div>
        <div class="row col-md-12 mb-md-5">
          <div class="col-md-6">
            <label for="streetAddress" class="form-label fnt-lg-20 fnt-roboto"
              >Street Address</label
            >
            <input
              type="text"
              id="streetAddress"
              placeholder="Street Address"
              class="input form-control br-10"
            />
          </div>
          <div class="col-md-6">
            <label for="zipCode" class="form-label fnt-lg-20 fnt-roboto"
              >Zip Code</label
            >
            <input
              type="text"
              id="zipCode"
              placeholder="Apt/Suite"
              class="input form-control br-10"
            />
          </div>
        </div>
        <div class="d-md-flex justify-content-md-center">
          <button class="btn btn-raised">See Offer</button>
        </div>
      </form>
    </div>
  </div>
  <div class="expect-container"></div>
</div>
