$general-font-family: "Montserrat", sans-serif;
$secondary-font-family: "SF Pro Text";

$general-font-size: 14px;

$general-text-color: #232334;
$muted-text-color: #747588;

$primary-color: #30855c;
$dark-color: #232334;
$gray-color: #dadada;
$brown-color: #80460b;
$invalid-color: #d50000;
$davys-grey: #5d5d5d;
$white: #ffffff;
$black: #000000;

$primary-border-color: #d6d6d6;
$secondary-border-color: #ebebeb;
$error-border-color: #d50000;

$primary-bg-color: #f8f8f8;
$body-bg-color: #f1f1f1;
$third-bg-color: #faf8f4;

$button-icon-color: #979797;

$star-color: #ffa001;

$primary-border-radius: 4px;

$clr666: #666666;
$clr777: #757575;
$clre00: #ffce00;
$clr3e8: #dee3e8;
$clrdfa: #1bbdfa;
$clr35d: #ff235d;
$clr52B: #06152b;
$clr474: #395474;
$mobile-header-height: 56px;
$tablet-header-height: 70px;
$desktop-header-height: 70px;
$desktop-nav-height: 66px;

$mobile-page-pt: 16px;
$mobile-page-pb: 16px;

$tablet-page-pt: 32px;
$tablet-page-pb: 20px;

$desktop-page-pt: 32px;
$desktop-page-pb: 40px;

$disabled-opacity: 0.8;
