<div class="w-100">
  <div
    class="investing-description d-lg-flex d-md-flex justify-content-lg-around justify-content-md-around"
  >
    <div class="">
      <h1 class="text-info investing-title-space">Investing for Everyone</h1>
      <p class="text-size">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellat
        nisi nesciunt nemo ut delectus alias earum suscipit assumenda aperiam
        voluptate perspiciatis ea, deleniti numquam quam dolorum porro quasi
        voluptatem.
      </p>

      <div
        class="d-lg-flex d-md-flex d-sm-flex d-flex justify-content-lg-start justify-content-md-start"
      >
        <div class="box-size box-space"></div>
        <div class="box-size box-space"></div>
        <div class="box-size box-space"></div>
        <div class="box-size box-space"></div>
      </div>
    </div>

    <div
      class="img-size d-flex d-sm-flex justify-content-sm-center justify-content-center pb-5 pb-sm-5"
    >
      <img
        src="../../../assets/images/investment-image.jpg"
        alt=" investment"
        width="500vh"
        height="350vh"
      />
    </div>
  </div>

  <div
    class="equity-description d-lg-flex d-md-flex justify-content-lg-around justify-content-md-around"
  >
    <div class="">
      <h1 class="text-info equity-title-space">Free Equity Now</h1>
      <p class="text-size">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellat
        nisi nesciunt nemo ut delectus alias earum suscipit assumenda aperiam
        voluptate perspiciatis ea, deleniti numquam quam dolorum porro quasi
        voluptatem.
      </p>
      <div class="input-container">
        <div
          class="d-lg-flex d-md-flex d-sm-flex d-flex justify-content-lg-start justify-content-md-start justify-content-sm-start justify-content-start input-button-container"
        >
          <input
            type="text"
            class="input-size col-lg-9 col-md-9 col-6 col-sm-6"
          />
          <button class="button-size">Get my offer</button>
        </div>
      </div>
    </div>
    <div
      class="d-flex d-lg-flex d-md-flex d-sm-flex justify-content-center justify-content-lg-around justify-content-md-around justify-sm-content-center"
    >
      <div class="text-container">
        <strong><p class="text-style">How it's works</p></strong>
      </div>
    </div>
  </div>

  <div
    class="equity-description d-lg-flex d-md-flex justify-content-lg-around justify-content-md-around"
  >
    <div class="">
      <h1 class="text-info equity-title-space">Why REI?</h1>
      <p class="text-size">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam repellat
        nisi nesciunt nemo ut delectus alias earum suscipit assumenda aperiam
        voluptate perspiciatis ea, deleniti numquam quam dolorum porro quasi
        voluptatem.
      </p>
    </div>
    <div
      class="img-size d-flex d-sm-flex justify-content-sm-center justify-content-center pb-5 pb-sm-5"
    >
      <img
        src="../../../assets/images/investment-image.jpg"
        alt=" investment"
        width="500vh"
        height="350vh"
      />
    </div>
  </div>
</div>
