<div class="numbers-container">
  <div class="container container-v2 br-14 col-md-8 my-md-5 pb-md-4 px-0">
    <div class="bg-ee mb-5 col-md-12 br-top-14">
      <h2 class="fnt-roboto fnt-lg-36 px-md-5 text-white fw-b py-md-5 bs-c">
        Lets see the numbers
      </h2>
    </div>
    <div class="bg-white px-md-5">
      <h2 class="mb-md-4 fnt-lg-30">Estimated Home value</h2>
      <h2 class="mb-md-4 fnt-lg-30 txt-clra3">1,000,000</h2>
      <h2 class="mb-md-4 fnt-lg-30">Potential Equity Payout</h2>
      <h2 class="mb-md-4 fnt-lg-30 txt-clra3">2,000,000</h2>
      <h2 class="mb-md-4 fnt-lg-30">What are you interested in today?</h2>
      <button
        class="btn btn-raised d-md-flex justify-content-md-center col-md-12 mb-md-5 mt-md-5 py-3 fnt-lg-26 fw-b"
      >
        I’m interested in selling my house
      </button>
      <button
        class="btn btn-raised d-md-flex justify-content-md-center col-md-12 mb-md-5 py-3 fnt-lg-26 fw-b"
      >
        I want to unlock some of my Equity
      </button>
      <button
        class="btn btn-raised d-md-flex justify-content-md-center col-md-12 mb-md-5 py-3 fnt-lg-26 fw-b"
      >
        Just curious about my home Equity Value
      </button>
    </div>
  </div>
</div>
