<div class="numbers-container mt-9 mt-lg-0 mx-3 mx-md-5 mx-lg-0 m-h-100">
  <div class="container container-v2 br-14 my-md-5 pb-md-4 px-0">
    <div class="bg-ee mb-md-5 mb-2 col-md-12 br-top-14 p-md-0 p-4">
      <h2 class="fnt-roboto fnt-lg-36 px-md-5 text-white fw-b py-md-5">
        Lets see the numbers
      </h2>
    </div>
    <div class="bg-white px-md-5 p-md-0 p-4">
      <ng-container *ngIf="!debtStatus">
        <div class="bg-white px-md-5 p-md-0 p-4">
          <h2 class="mb-md-4 fnt-lg-30">How much do you owe on this property?</h2>
          <div class="col col-md-6"><input type="text" id="debt value" placeholder="debt value"
              class="input form-control br-10" #debt /></div>
          <button class="col-md-4 col-8 br-10 btn btn-raised mt-3" (click)="onSubmit(debt.value)">Submit</button>
        </div>
      </ng-container>
      <ng-container *ngIf="cardStatus">        
        <h2 class="mb-md-4 fnt-lg-30">Estimated Home value</h2>
        <h2 class="mb-md-4 fnt-lg-30 txt-clra3" *ngIf="valueStatus">{{showEstimate?.est_homevalue | currency}}</h2>
        <h2 class="mb-md-4 fnt-lg-30">Equity Balance in Property</h2>
        <h2 class="mb-md-4 fnt-lg-30 txt-clra3" *ngIf="valueStatus">{{showEstimate.est_balance | currency}}</h2>
        <h2 class="mb-md-4 fnt-lg-30">Potential Equity Payout</h2>
        <h2 class="mb-md-4 fnt-lg-30 txt-clra3" *ngIf="valueStatus">{{showEstimate.est_payout | currency}}</h2>
      </ng-container>
      <ng-container *ngIf="absentData">
        <h2 class="mb-md-4 fnt-lg-30">We are not able to find the address which you have entered.</h2>
        <button class="col-md-4 col-8 br-10 btn btn-raised mt-3" (click)="onBack()">Back</button>
      </ng-container>
    </div>
  </div>
</div>