.home-container {
  background-color: #f9f9f9;
  .free-equity-container {
    background-color: #eeeff1;
    // min-height: 350px;
    // padding-top: 4.375rem;
    .container-v2 {
      max-width: 1120px;
      .container-v3 {
        // max-width: 24.1875rem;
      }
    }
  }

 .card {
  max-width: 18.75rem;
  max-height: 18.75rem;
  background-color: #f9f9f9;
  display: flex; // enables flexbox
  justify-content: center; // centers children horizontally
  align-items: center; // centers children vertically
  overflow: hidden; // prevents images from overflowing the card

  img {
    max-width: 100%; // ensures image doesn't exceed card width
    max-height: 100%; // ensures image doesn't exceed card height
    object-fit: cover; // keeps aspect ratio and covers the area
  }


  .get-offer-container {
    background-color: #eeeff1 !important;
    min-height: 470px;
    padding-top: 4.375rem;
    .container-v3 {
      max-width: 1150px;
    }
  }
  .how-it-works {
    min-width: 400px;
    min-height: 350px;
  }
  ::placeholder {
    text-align: center;
    color: #a7a7a7;
  }
}
